body {
    margin: 0;
}

header {
    display: flex;
    color: #81B741;
}

p.textcost {
    font-family: 'Work Sans', sans-serif;
    display: inline;
    font-weight: bold !important;
}

p.textprice {
    font-family: 'Work Sans', sans-serif;
    display: inline;
}

p.textsmall {
    font-family: 'Work Sans', sans-serif;
}

.sub-title {
    font-style: italic;
    font-weight: 300;
    color: #81B541;
}

h3 {
    font-family: 'Neuton', serif;
    color: #093C5F;
    margin: 0rem 0rem .5rem 0rem;
}

.banner {
    background-image: url("../images/christopher-harris-57366-unsplash.jpg");
    width: 100%;
    height: 20rem;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 14rem;
}

.featuredimg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
    background-repeat: no-repeat;

}

.blogimg {
    float: left;
    width: 100%;
    max-width: 260px;
    height: 260px;
    object-fit: cover;
    margin-right: 2rem;
}

.blogmainimg {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    padding: 1rem 0rem;
}

.asideimg {
    width: 250px;
    height: auto;
}

.adoptpic {
    /* display: cover; */
    object-fit: cover;
    width: 100%;
    height: 135px;
    margin: 0 auto;
}

.gridcontainer {
    border: 2px solid #D3D3D3;
}

.adoptinfo {
    padding: 1rem;
}

.adoptfeat {
    padding: 2rem 0rem;
}

.blogcontainer {
    display: block;
    margin: 9rem 0rem;
    font-family: 'Work Sans', sans-serif;
}

.logo {
    width: 100%;
    max-width: 400px;
    margin: 0;
}

nav {
  background-color: #EBEBEB;
}

nav ul {
    list-style-type: none;
    margin: 0rem 11rem 0rem 11rem;
}

nav ul li {
    display: inline;
    line-height: 60px;
}

nav ul li:not(:last-child):after {
    content: "/";
    position: relative;
    padding: .5rem;
    margin: .5rem;
}

footer {
    background-color: #1A3B5D;
    text-align: center;
    height: 24rem;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 10rem;
    color: white;
}

.moredogbutton {
    height: 6rem;
    padding: 2rem;
}

footer ul {
    list-style-type: none;
    margin-left: -3rem;
    /* margin: 0rem 14rem 0rem 14rem; */
}

footer ul li {
    display: inline;
    line-height: 50px;
    padding-left: 0px;
}

footer ul li a {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
}

footer ul li:not(:last-child):after {
    content: "/";
    position: relative;
    padding: .5rem;
    margin: .5rem;
}

.formgroup {
    width: 550px;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 12px;
    margin: 1rem 0rem 2rem 0rem;
    display: block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.formgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    clear: left;
}
input[type=city] {
    width: 250px;
    padding: 12px 12px;
    margin: 1rem 0rem 2rem 0rem;
    display: block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

select {
    width: 80px;
    padding: 12px 12px;
    margin: 1rem 0rem 2rem 0rem;
    display: block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

select {
    background-color: white;
}
fieldset {
    border: none;
}

fieldset input {
    display: inline;
}

.adoptedpic {
    float: left;
    display: block;
    object-fit: cover;
    padding-right: 1rem;
    width: 100%;
    max-width: 60px;
    height:60px;
}

.finaldoggrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    clear: left;
}

.adoptedcontainer {
    padding: 1rem;
}
  
@media screen and (min-width: 769px) {
    section {
        margin: 1rem 12rem;
    }

    
    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        clear: left;
    }

    .griddogs {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 60px;
        grid-row-gap: 60px;
        clear: left;
        padding: 1rem 0rem 4rem 0rem;
    }

    * {
        box-sizing: border-box;
      }
      
      .column {
        float: left;
        padding: 30px;
        height: auto;
      }
      
      .left {
        width: 70%;
      }
      
      .right {
        width: 30%;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

    h1 {
        font-family: 'Neuton', serif;
        font-size: 28pt;
        color: #093C5F;
        margin: 0px;
    }
    
    h2 {
        font-family: 'Neuton', serif;
        font-size: 24pt;
        color: #093C5F;
        margin: -1rem;
    }

    .adoptfeat > p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-size: 18pt;
    }

    .adoptinfo > p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-size: 12pt;
    }

    .topcart {
        font-family: 'Work Sans', sans-serif;
        color: white;
        font-size: 14pt;
        font-weight: 600;
    }

    .header-box2 {
        float: right;
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        font-size: 14pt;
        text-align: right;
    }

    .adoptfeat > p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-size: 18pt;
    }

    .adoptinfo > p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-size: 12pt;
    }

    .fa {
        padding: 10px;
        font-size: 20px;
        width: auto;
    }

    nav ul li a {
        text-decoration: none;
        font-family: sans-serif;
        color: #093C60;
        font-weight: bold;
        /* margin-right: 20px; */
        font-size: 20px;
        padding: .5rem;
        margin: .5rem;
    }

    .buttoncart {
        display: block;
        border: none;
        background-color: #81B641;
        color: white;
        padding: 6px 40px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
    }

    .buttongreen {
        display: block;
        width: 100%;
        border: none;
        background-color: #81B641;
        color: white;
        padding: 6px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
    }

    .buttongray {
        position: absolute;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #ECECEC;
        border: none;
        color: #093C5F;
        padding: 10px 52px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        /* margin: 20rem 0rem 20rem 0rem; */
        cursor: pointer;
    }

    label {
        font-weight: bold;
        font-size: 16pt;
        color: #093C5F;
    }

    legend {
        font-weight: bold;
        font-size: 16pt;
        color: #093C5F;
        margin: 0rem -1rem;
    }

    fieldset > label {
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-size: 12pt;
    }
}


@media screen and (max-width:768px) {
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        clear: left;
    }

    .griddogs {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 60px;
        grid-row-gap: 60px;
        clear: left;
        padding: 1rem 0rem 4rem 0rem;
    }

    h1 {
        font-family: 'Neuton', serif;
        font-size: 14pt;
        color: #093C5F;
    }

    h2 {
        font-family: 'Neuton', serif;
        font-size: 12pt;
        color: #093C5F;
        margin: -1rem;
    }

    .adoptfeat > p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-size: 11pt;
    }

    .adoptinfo > p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-size: 9pt;
    }

    .topcart {
        font-family: 'Work Sans', sans-serif;
        color: white;
        font-size: 10pt;
        font-weight: 600;
    }

    .header-box2 {
        float: right;
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        font-size: 10pt;
        text-align: right;
    }

    .adoptfeat > p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-size: 11pt;
    }

    .adoptinfo > p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-size: 9pt;
    }

    .fa {
        padding: 10px;
        font-size: 11px;
        width: auto;
    }

    nav ul li a {
        text-decoration: none;
        font-family: sans-serif;
        color: #093C60;
        font-weight: bold;
        /* margin-right: 20px; */
        font-size: 11px;
        padding: .5rem;
        margin: .5rem;
    }

    .buttoncart {
        display: block;
        border: none;
        background-color: #81B641;
        color: white;
        padding: 6px 40px;
        font-size: 10px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
    }

    .buttongreen {
        display: block;
        width: 100%;
        border: none;
        background-color: #81B641;
        color: white;
        padding: 6px 28px;
        font-size: 10px;
        cursor: pointer;
        text-align: center;
    }  

    .buttongray {
        position: absolute;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #ECECEC;
        border: none;
        color: #093C5F;
        padding: 10px 52px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        /* margin: 20rem 0rem 20rem 0rem; */
        cursor: pointer;
    }

    label {
        font-weight: bold;
        font-size: 10pt;
        color: #093C5F;
    }

    legend {
        font-weight: bold;
        font-size: 10pt;
        color: #093C5F;
        margin: 0rem -1rem;
    }

    fieldset > label {
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-size: 9pt;
    }
}

@media screen and (max-width:391px) {
    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        clear: left;
    }

    .griddogs {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 60px;
        grid-row-gap: 60px;
        clear: left;
        padding: 1rem 0rem 4rem 0rem;
    }

    .right {
        display: none;
    }
}